#imagenLogin
{
    filter: blur(7px);
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../images/space.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1; /* para que esté detrás del contenido */
  }

  #tituloLogin
  {
    color:white;
    font-family:  Georgia, serif;
    font-size:80px;
  }
  #colLogin
  {
    height: 100px;
  }